<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Repair Parts Catalog</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-material-design/material.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-material-design/ripples.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css" />
    <link rel="stylesheet" href="~/lib/select2/select2.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @Html.Partial("_Navbar")
    <div class="container body-content">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Contacts
                </div>

                <div class="panel-body">
                    <p>+375 29 xxx xx xx</p>
                </div>
            </div>

            @RenderSection("sidebar", required: false)
        </div>
    </div>
    <hr />
    <div class="container">
        <footer>
            <p>&copy; @DateTime.Now.Year - Repair Parts Catalog</p>
        </footer>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/js/common/catalog.js"></script>
    <script src="~/lib/knockout/knockout.js"></script>
    <script src="~/lib/knockout-mapping/knockout.mapping.js"></script>
    <script src="~/lib/select2/select2.js"></script>
    <script src="~/js/knockout/knockout.binding.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap-material-design/material.js"></script>
    <script src="~/lib/bootstrap-material-design/ripples.js"></script>
    <script type="text/javascript">
        $.material.init();
        $.material.ripples();
        $.material.input();
        $.material.checkbox();
        $.material.radio();
    </script>
    <script src="~/lib/hammer.js/hammer.js"></script>
    <script src="~/lib/bootstrap-touch-carousel/js/bootstrap-touch-carousel.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>